<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
		<add name="DataAccessLayer.Properties.Settings.Cwx121ConnectionString" connectionString="Password=[yourpassword];Persist Security Info=True;User ID=[yourid];Initial Catalog=ASPX;Data Source=[yourinstance]" providerName="System.Data.SqlClient"/>
	</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
